body {
  background-color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 1024px;
  min-width: 50vw;
  padding: 3rem 1rem;
  width: fit-content;
}

main > section {
  display: flex;
  flex-direction: column;
}

main > section > h1 {
  margin-top: 0;
  font-size: xx-large;
}

form label {
  display: block;
}