<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/styles.css" />
    <title>{{headline}}</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/svg" href="/static/black-logo.svg" />

    <meta property="og:headline" content="{{headline}}" />
    <meta name="twitter:headline" content="{{headline}}" />
  </head>

  <body>
    <main>
      <header>
        <a href="/"><img class="logo" src="/static/white-logo.svg" width="100px" alt="The Farcaster Times Logo"/></a>
        <a href="/"><img class="logo-text" src="/static/purple-text-logo.svg" height="300px" alt="The Farcaster Times Logo"/></a>
        <div class="article-search-form">
            <form>
                <label for="channel">Channel/Username:</label>
                <input id="channel" name="channel" value="{{channel}}" />
  
                <label for="selected_date">Date:</label>
                <input id="selected_date" name="selected_date" type="date" value="{{selected_date}}" />
  
                <button type="submit">Go!</button>
            </form>
        </div>
      </header>
      <section>
        <h1><i>{{headline}}</i></h1>
        {% if not error %}
        <p>{{subheading}}</p>
        <p>Insights from <a href="{{source[1]}}" target="_blank">{{source[0]}}</a> - {{source[2]}}</p>
        {% endif %}
      </section>

      <hr />

      <section>{{content|safe}}</section>
    </main>
  </body>
</html>
