<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/styles.css" />
    <title>{{headline}}</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/jpg" href="/static/logo.png" />

    <meta property="og:headline" content="{{headline}}" />
    <meta name="twitter:headline" content="{{headline}}" />
  </head>

  <body>
    <header>
        <a href="/"><img src="/static/logo.png" width="100px" /></a>
    </header>

    <main>
      <section>
        <h1><i>{{headline}}</i></h1>
        <p>{{subheading}}</p>
        <p>Insights from <a href="{{source[1]}}" target="_blank">{{source[0]}}</a></p>
      </section>

      <hr />

      <section>{{content|safe}}</section>
    </main>
  </body>
</html>
