<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/styles.css" />
    <title>Farcaster Times</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/svg" href="/static/black-logo.svg" />

    <meta property="og:title" content="Farcaster Times" />
    <meta name="twitter:title" content="Farcaster Times" />

    <meta property="fc:frame" content="vNext" />
    <meta property="fc:frame:image" content="{{app_url}}/static/black-logo.svg" />
  </head>

  <body>
    <main>
      <header>
        <a href="/"><img class="logo" src="/static/white-logo.svg" width="100px" alt="Farcaster Times Logo"/></a>
        <a href="/"><img class="logo-text" src="/static/purple-text-logo.svg" height="300px" alt="Farcaster Times Logo"/></a>
        <div class="article-search-form">
            <form>
                <label for="channel">Channel/Username:</label>
                <input id="channel" name="channel" value="{{channel}}" />

                <label for="selected_date">Date:</label>
                <input id="selected_date" name="selected_date" type="date" value="{{selected_date}}" />

                <button type="submit">Go!</button>
            </form>
        </div>
      </header>
      {% if articles %}
        <section class="other-articles">
          {% for article in articles %}
            <article>
              <h2>{{ article.headline }}</h2>
              <p>Insights from <a href="{{ article.source[1] }}" target="_blank">{{ article.source[0] }}</a> - {{ article.source[2] }}</p>
              <div class="article-content">{{ article.content | safe }}</div>
              <a href="{{ article.url }}">Read More</a>
            </article>
          {% endfor %}
        </section>
      {% else %}
        <p>No articles found.</p>
      {% endif %}
    </main>
  </body>
</html>
